* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: black;
  color: white;
  padding: 20px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.5fr;
  grid-gap: 10px;
}
section h1 {
  color: gray;
  font-size: 1.5em;
  grid-column: 2 / 4;
  grid-row: 1;
  padding-bottom: 5px;
  border-bottom: 1px inset black;
}
.primerParrafo {
  grid-column: 2;
  grid-row: 2;
  margin: 0px;
}
.segundoParrafo {
  grid-column: 2 / 4;
  grid-row: 3;
  margin: 0px;
}
.imagen {
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  height: auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  align-items: stretch;
  align-content: stretch;
}

footer h1 {
  color: gray;
  font-size: 1.5em;
  grid-column: 2 / 4;
  grid-row: 1;
  padding-bottom: 5px;
  border-bottom: 1px inset black;
}
footer form {
  grid-column: 2 /4;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 6fr;
  grid-gap: 5px;
}
footer form input {
  background-color: gray;
  border: 0px;
}
footer form textarea {
  background-color: gray;
}
footer form button {
  background-color: black;
  color: white;
  margin-right: 90%;
}

@media screen and (max-width: 700px) {
  header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 0.1fr;
    grid-gap: 10px;
  }
  section h1 {
    color: gray;
    font-size: 1.5em;
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 5px;
    border-bottom: 1px inset black;
  }
  .imagen {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: auto;
  }
  .primerParrafo {
    grid-column: 1;
    grid-row: 3;
    margin: 0px;
  }
  .segundoParrafo {
    grid-column: 1;
    grid-row: 4;
    margin: 0px;
  }
  footer {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    align-items: stretch;
    align-content: stretch;
  }

  footer h1 {
    color: gray;
    font-size: 1.5em;
    grid-column: 1;
    grid-row: 5;
    padding-bottom: 5px;
    border-bottom: 1px inset black;
  }

  footer form {
    grid-column: 1;
    grid-row: 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 6fr;
    grid-gap: 5px;
  }
  footer form input {
    background-color: gray;
    border: 0px;
  }
  footer form textarea {
    background-color: gray;
  }
  footer form button {
    background-color: black;
    color: white;
    margin-right: 90%;
  }
}
