* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 20rem;
  margin: auto;
}
h1 {
  text-align: center;
}

button {
  display: block;
  width: 7.5rem;
  height: 2rem;
  margin: 1rem 0rem;
}

.caja {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.caja > div {
  width: 5rem;
  height: 5rem;
}
