* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 20rem;
  margin: auto;
}
h1 {
  text-align: center;
}

h2 {
  margin-top: 3rem;
  text-align: center;
  font-family: monospace;
  font-size: 3rem;
  border: 1px solid black;
}
.botones {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
