body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(242, 165, 74);
}

header {
  color: white;
  text-align: center;
  font-size: 40px;

  transition-property: all;
  animation-name: entradawebTittle;
  animation-duration: 4s;
}

.imagen {
  width: 100%;
  margin: 0px;
  border: 0px;
}
p {
  background-color: rgb(112, 6, 255);
  color: rgb(222, 190, 255);
  margin: 0px;
  border: 0px;
  padding: 10px;
  font-size: 12px;
}

main {
  display: grid;
  margin-left: 25%;
  margin-right: 25%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  max-width: 50%;
}

main section {
  opacity: 0;
  background-color: rgb(112, 6, 255);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
main section:hover {
  transition: all 1s ease;
  transform: scale(1.18, 1.18);
}
main section:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  animation-name: entradawebTittle;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
main section:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  animation-name: entradawebTittle;
  animation-duration: 4s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
main section:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
  animation-name: entradawebTittle;
  animation-duration: 4s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}

@keyframes entradawebTittle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
