.lista :last-child {
  background-color: rgb(0, 0, 255);
}

.lista :nth-child(odd) {
  /* background-color: brown; */
  text-decoration: underline green;
}

.lista li {
  display: inline;
  padding: 10px;
}

.lista li:nth-child(1):after {
  content: '😭';
}
.lista li:nth-child(2):after {
  content: '😍';
}
.lista li:nth-child(3):after {
  content: '😛';
}
.lista li:nth-child(4):after {
  content: '😉';
}
.lista li:nth-child(5):after {
  content: '😁';
}
.lista li:nth-child(6):after {
  content: '👿';
}

.lista li:nth-child(4) {
  text-transform: uppercase;
  font-size: 200%;
}

#provincias li:nth-child(1) {
  list-style: upper-roman;
}
#provincias li:nth-child(3) {
  list-style: upper-roman;
}
#provincias li:nth-child(4) {
  list-style: upper-roman;
}
