form {
  max-width: 800px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#Nombre {
  border-color: red;
}
#correoElectronico {
  border-color: red;
}

fieldset {
  padding: 1rem;
  background-color: rgb(173, 173, 173);
}
fieldset:hover {
  background-color: gray;
}

fieldset:first-child {
  border-bottom: 5px solid black;
}
fieldset:last-child {
  border-bottom: 5px solid black;
}
button {
  background-color: black;
  color: white;
}
